/* Contact page */
#contact_title {
	padding-left: 404px;
	width: 100%;
}

.contact_form {
	padding-left: 280px;
	padding-right: 25px;
}

#contact_form_title {
	padding-left: 75px;
}

/* Retour page */
#retour_title {
	padding-left: 421px;
    width: 100%;
}

.main_block {
	padding-top: 95px;
	padding-bottom: 45px;
	padding-left: 5px;
	padding-right: 5px;
	width: 100%;
    height: 100%;
}

.img_block1 {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	left: 160px;
	min-height: 142%;
}

.mental_card {
	position: absolute;
	width: 300px;
    left: 518px;
    top: 515px;
}

.img_block2 {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	left: 930px;
	min-height: 142%;

}

.vid_block1 {
	position: absolute;
	display: flex;
	justify-content: space-between;
	width: 60%;
	top: 1270px;
	left: 241px;
}

.vid_block2 {
	position: absolute;
	display: flex;
	justify-content: space-between;
	width: 60%;
	top: 1540px;
	left: 241px;
}

iframe {
	width: 230px;
    height: 215px;
}